<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h3>Support till HR/chefer i/inför rekrytering och avveckling</h3>

    Processer som handlar om att attrahera, utveckla, förändra och avveckla som vi har valt ut områden inom. Om du känner att du söker något som inte finns - säg till !

Vi kommer att guida dig genom ett antal steg. Vill/behöver du efter dessa steg personligt stöd så kommer det att finnas via SSR direkt eller via Akademikerförbundets samarbetspartner Insight Consulting. 
<p>
<button class="button bar-assertive button-block" href="templates/ssr">Gå vidare</button>
  </ion-content>
</ion-view>
